{{>layouts/header}}
<form class="container" action="/hospitals/search" method="get">
    지역 <input type="text" name="keyword" />
    <input type="submit" />
</form>
<form class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">병원명</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
</form>
<ul class="pagination justify-content-center">
    {{#keyword}}
        <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{next}}">Next</a></li>
    {{/keyword}}
    {{^keyword}}
        <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
    {{/keyword}}
</ul>

{{>layouts/footer}}